<html>

<body>
    <h1>Users</h1>

    <table>
        <tr>
            <th>Last</th>
            <th>First</th>
            <th>Email</th>
            <th>Picture</th>
            <th></th>
        </tr>

        <% users.forEach( (user) => { %>
            <tr>
                <td>
                    <%= user.lname %>
                </td>
                <td>
                    <%= user.fname %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.pic %>
                </td>
                <td>
                    <a href="/users/<%= user.id %>">Show</a>
                    <a href="/users/<%= user.id %>/edit">Edit</a>
                    <a href="/users/<%= user.id %>/delete">Delete<a>

                </td>
                <% }) %>
            </tr>
    </table>
</body>

<a href="/users/new">New</a>

</html>
